<script src="https://www.google.com/recaptcha/api.js"></script>
<form method="post" asp-action="Post">
    <div class="g-recaptcha" data-sitekey="6LcXc70mAAAAAKZC0dS-sFwGRfigwWs-Co3IXB85"></div>
    <button type="submit">Gönder</button>
    <br />
</form>